
/* CSS custom property pro animaci úhlu */
@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

/* animations */
@keyframes spin {
  to {
    --angle: 360deg;
  }
}


/* layers */

@layer base, base.desktop, base.mobile, components;


/* selectors */

@layer base {

	body {
		display: flex;
		flex-direction: column;
		background-color: grey;

		& header {
			display: flex;
			min-height: 20px;
			background-color: rosybrown;
		}

		& main {
			display: flex;
			border: 2px solid black;

			& section.table {
				display: flex;
				background-color: bisque;

				& .js-card {
					background-color: rgba(108, 116, 80, 0.8);
					border-style: solid;
					border-color: rgba(255, 0, 0, 0.3);
				}
			}

			& section.control-panel {
				display: flex;
				justify-content: center;
				background-color: rgb(237, 179, 120);

				& button {
					display: flex;
				}

				button.reveal {
					color: plum;
				}

				button.reskip {
					color: plum;
				}
			}
		}

		& footer {
			display: flex;
			min-height: 20px;
			background-color: rgba(41, 150, 88, 0.467);
		}
	}
}

@layer base.desktop {
	
	body {

		& main {

			& section.table {
				
				& .js-card {
					min-height: 100px;
					min-width: 85px;
					border-width: 2px;
					border-radius: 4px;
				}
			}

			& section.control-panel {
				flex-direction: column;
				flex-grow: 1;
				gap: 20px;

				& button {
					margin: 0px 20px;

				}
			}
		}
	}
}














/* 	& .btn {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		min-width: 200px;
		min-height: 200px;
		border-radius: 60px;
		border: 10px solid transparent;
		background:
			linear-gradient(gray) padding-box,
			conic-gradient(
				from var(--angle),
				transparent 0deg,
				transparent 120deg,
				blue 240deg,
				transparent 360deg
			) border-box;

		animation: spin 5s linear infinite;
	} */

